@font-face{
  font-family:PT-Root-UI_Regular;
  src: url(font/PT_Root_UI/PT-Root-UI_Regular.ttf)
}
@font-face{
  font-family:PT-Root-UI_VF;
  src: url(font/PT_Root_UI/PT-Root-UI_VF.ttf)
}
@font-face{
  font-family:PT-Root-UI_Medium;
  src: url(font/PT_Root_UI/PT-Root-UI_Medium.ttf)
}
@font-face{
  font-family:PT-Root-UI_Light;
  src: url(font/PT_Root_UI/PT-Root-UI_Light.ttf)
}
@font-face{
  font-family:PT-Root-UI_Bold;
  src: url(font/PT_Root_UI/PT-Root-UI_Bold.ttf)
}

body{
    background: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    font-family:PT-Root-UI_Regular;
}
header{
    color:white
}
header a{
    color:white;
    text-decoration: none;
}
h3{
    font-size: 25px;
    color: white;
}
section{
    display: flex;
    flex-wrap: wrap;
}
section article{
    width: 350px;
    margin: 5px;
    margin-left: 50px;
}
section article .img1{
    width:100%;
    height: 195px;
    background: url(img/ovosh.webp);
    background-size: cover;
}
section article .img2{
    width:100%;
    height: 195px;
    background: url(img/malina.webp);
    background-size: cover;
}
section article .img3{
    width:100%;
    height: 195px;
    background: url(img/kivi.webp);
    background-size: cover;
}
section article .sell{
    width: 100%;
    height: 150px;
    border-top: 3px solid gray;
    background:rgb(249, 248, 248);
    color:rgb(70, 68, 68);
}
section article .price{
    float: left;
    margin-right: 20px;
    font-size: 25px;
    margin-left: 20px;
}
section article .kol{
    font-size: 15px;
    font-family:PT-Root-UI_Bold;
    position: relative;
    color: rgb(141, 139, 139);
    top: 15px;
    left:110px;
}
section article input{
    width:70px;
    height: 40px;
    float: right;
    position: relative;
    bottom: 30px;
    right: 10px;
    border-radius: 5px;
    font-size: 35px;
}
section article input::-webkit-inner-spin-button{
opacity: 1;
}
section article .baton{
    width: 100%;
    display: flex;
    justify-content: center;
}
section article .btn{
    width: 260px;
    height:50px;
    font-family:PT-Root-UI_Bold;
    color: white;
    font-size: 20px;
    background: #629F14;
    border-radius: 5px;
}
section article .btn img{
    width: 30px;
    height: 30px;
    position: relative;
    top:5px
}
