body {
  font: 600 24px;
}
.box {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  color: white;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}
/* Задание1 */
#z1:hover {
  background: #ff7b29;
}
/* Задание2 */
#z2:hover {
  background: #ff7b29;
  border-radius: 50%;
}
/* Задание3 */
figure {
  margin: 0;
}

.original, .box {
  border-radius: 6px;
}

.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}

.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}

.spin:hover {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.box-1 {
  transform: translateX(-10px);
}

.box-2 {
  transform: translateY(25%);
}

.box-3 {
  transform: translate(-10px, 25%);
}

.zd3 {
    height: 200px;
}

/* Задание 4 */

.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

/* Задание 5 */
@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.stage {
  width: 550px;
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.stage:hover .ball {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .5s;
}
.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}
figure {
  margin: 0;
}
/* Сам.Задание 3 */
@keyframes animation{
  0%{
    left: 0px;
  }
  50%{
    left:300px;
  }
  100%{
    left: 0px;
  }
}
.kadr{
  width: 350px;
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  min-width: 538px;
  padding: 30px;
}
.kadr:hover .kvadrat{
  animation-name: animation;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: .5s;
}
.kvadrat{
  width: 150px;
  height: 150px;
  background: #0087cc;
  border-radius: 20px;
  position: relative;
}
/* Индивидуальное задание */
.IndivBlock {
  width: 120px;
  height: 120px;
  background-color: #007bff;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 25px;
  padding: 5px;
  transition: 2s;
  margin:50px ;
}
.IndivBlock:hover{
  transform: rotateY(180deg);
}
