@font-face{
  font-family:PT-Root-UI_Regular;
  src: url(font/PT_Root_UI/PT-Root-UI_Regular.ttf)
}
@font-face{
  font-family:PT-Root-UI_VF;
  src: url(font/PT_Root_UI/PT-Root-UI_VF.ttf)
}
@font-face{
  font-family:PT-Root-UI_Medium;
  src: url(font/PT_Root_UI/PT-Root-UI_Medium.ttf)
}
@font-face{
  font-family:PT-Root-UI_Light;
  src: url(font/PT_Root_UI/PT-Root-UI_Light.ttf)
}
@font-face{
  font-family:PT-Root-UI_Bold;
  src: url(font/PT_Root_UI/PT-Root-UI_Bold.ttf)
}
*{
    font-family:PT-Root-UI_Medium;
}
header{
    margin-bottom: 80px;
}
.blocki{
    display: flex;
    justify-content: center;
}
.bbl1{
    width: 1155px;
    float: left;
}
.blocki h1{
    float: left;
}
.Blocks{
    display: flex;
    justify-content: center;
}
.bl{
    width: 272px;
    height: 464px;
    margin-top: 20px;
    background: #f1eeee;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.HeaderBlock1{
    width: 272px;
    height: 52px;
    color:#F19F00 ;
    font-size: 22px;
    font-family:PT-Root-UI_Bold; 
    margin-left: 30px;
    text-align: center;
}
.image{
    width: 272px;
    height: 194px;
}
.Imag{
    width: 272px;
    height: 220px;
}
.Head1{
    width: 190px;
    height: 80px;
    border-bottom: 1px solid #afacac;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: left;
}
.Head2{
    width: 163px;
    height: 60px;
    margin-left: 30px;
    text-align: left;
}
.Hed1{
    width: 163px;
    height: 40px;
    font-family:PT-Root-UI_Bold; 
    font-size: 40px;
    text-align: left;
}
.Hed2{
    color: #616161;
}
.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.footbl{
    width: 1155px;
    height: 216px;
    margin-top: 40px;
    background: #f1eeee;
    border-radius: 8px;
}
.mainfoot{
    width: 420px;
    float: left;
    padding: 15px;
}
.HeadFotter{
    width: 430px;
    height: 72;
    font-family:PT-Root-UI_Bold; 
    font-size: 32px;
}
.Hed5{
    width: 163px;
    height: 40px;
    font-family:PT-Root-UI_Bold; 
    font-size: 40px;
    text-align: left;
}
.footbl img{
    width: 697px;
    height: 216px;
    float: right;
}