*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* ШАПКА */
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    overflow: hidden;
}
header h2{
    width: 150px;
    margin-top: 10px;
    padding-left: 60px;
}
.navigation{
    margin-top: 10px;
    padding-right: 60px;
}
.navigation a{
    color:black;
    text-decoration: none;
    padding-right: 40px;
}
.navigation img{
    width: 25px;
    transform: translateY(6px);
}
/* МЭЙН */
main{
    width: 100%;
    margin: 0;
    padding: 0;
}
.HH2{
    text-align: center;
    font-size: 35px;
    padding-top: 100px;
}
.text{
    width: 700px;
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
}
/* БЛОК ШАПКИ */
.ContentBlock1{
    width: 100%;
    height: 850px;
    background:url(img/header\ image_rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -10px ;
}
.ContentBlock1 h1{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 250px;
}
.ContentBlock1 p{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}
.HeadBtn{
    padding-top: 80px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.HeadBtn1{
    background: transparent;
    border: 3px solid white;
    padding: 20px;
    color: white;
    font-size: 20px;
    transition: .3s;
}
.HeadBtn1:hover{
    border: 3px solid #008A7B;
    background: #008A7B;
}
.HeadBtn2{
    background: #008A7B;
    border: 3px solid #008A7B;
    padding: 20px;
    color: white;
    font-size: 20px;
    transition: .3s;
}
.HeadBtn2:hover{
    background: transparent;
    border: 3px solid white;
}
.arrow{
    display:flex ;
    justify-content: center;
    margin-top: 230px;
}
.arrow img{
    width: 40px;
    height: 20px;
}
/* О НАС */
.ContentBlock2{
    width: 100%;
}

.AboutSection{
    width: 95%;
    margin: 150px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.AboutBlock{
    width: 290px;
}
.AboutIMG{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
}
.AboutBlock h3{
    text-align: center;
    padding-bottom: 15px;
}
.AboutBlock p{
    text-align: center;
    padding-bottom: 15px;
}

/* СЕРВИС */

.ContentBlock3{
    width: 100%;
    background: #DAFDF9;
}
.ServicesSection{
    width: 80%;
    margin: 20px auto;
    padding: 60px 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 50px;
}
.ServicesBlock{
    background: white;
    width: 350px;
    cursor: pointer;
    transition: .3s;
}
.ContentBlock3 h3{
    text-align: center;
    font-size: 25px;
}
.ContentBlock3 p{
    width: 80%;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    margin: auto;
}
.ContentBlock3 button{
    padding: 15px;
    margin: 50px auto;
    background: transparent;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: 3px solid black;    
    cursor: pointer;
    transition: .2s;
}
.ServicesIMG{
    width: 50px;
    height: 65px;
    background: url(img/smartphone\ copy.png);
    background-repeat: no-repeat;
    margin: 40px auto;
}


.ServicesBlock:hover{
    background: #008A7B;
    width: 350px;
    color: white;
}
.ServicesBlock:hover button{
   color: white;
   border: 3px solid white;
}
.ServicesBlock:hover button{
   color: white;
   border: 3px solid white;
}
.ServicesBlock:hover .ServicesIMG{
   background: url(img/smartphone.png);
   background-repeat: no-repeat;
}
.ContentBlock3 button:hover{
    background: white;
    color:#008A7B ;
}

/* КОНТАКТЫ */
.ContentBlock4{
    width: 100%;
    height: 1500px;
    background:url(img/main\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white
}
.information{
    width: 70%;
    margin: 150px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.InfoBlock{
    width: 290px;
}
.InfoIMG{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.InfoBlock h3{
    text-align: center;
    padding-bottom: 15px;
    justify-content: center;
}

.SectionInput{
    width: 1300px;
    height: 500px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content: space-between;
}
.SectionInput input{
        width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0px solid transparent;
}
.SectionInput input::placeholder{
    font-size: 18px;
}
.InputName{
    width: 550px;
    height: 80px;
}

.InputEmail{
    width: 550px;
    height: 80px;
}

.InputMassage{
    width: 1300px;
    height: 350px;
}
.SectionInput button{
    width: 200px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    border: 0px;
    margin-left: auto;
    font-size: 20px;
}
.SectionInput button:hover{
    background: transparent;
    border: 3px solid white;
    color: white ;
    cursor: pointer;
}
/* ФУТЕР */
footer{
    width: 100%;
    height: 50px;
}
footer h3{
    text-align: center;
    margin: auto;
    padding: 15px;
}