*{
    font-family: Roboto;
}
main{
    border: 1px solid orange;
    width: 80%;
    margin-left: auto;margin-right: auto;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
}
.head{
    height: 100px;
    color: #cc8000;
    font-size: 30px;
    overflow: hidden;
}
.head h1{
    font-family: Arial, Helvetica, sans-serif;
}
.head img{
    width: 150px;height: 110px;
    float: left;
}
main ul{
    background: orange;
}
main li,main li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}
main li a:hover{
    background: white;
    color: black;
}
.block{
    width: 50%;
    height: auto;
    margin-left: auto;margin-right: auto;
    padding: 20px;
    border: 1px solid black;
    margin-top: 20px;
}
.block h1{
    font-family: Arial, Helvetica, sans-serif;
}
.block img{
    width: 200px;
    height: auto;
    float: left;
}
.block a{
    margin-left: 90%;
}
