body{
    font-size:23px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin-bottom:40px;
}
a{
    text-decoration: none;
    color: green;
}
.work {
    color: blue;
    text-decoration: underline;
}
.maintxt{
    margin-bottom:20px;
}
.teg{
    background-color: rgb(213, 214, 214);
}
.struk{
    width:400px;
    background-color: rgb(207, 238, 161);
    color: green;
    padding-top:10px;
    padding-bottom:10px;

}

ul li::marker { color: black;}
ol li::marker { color: black;}

.up{
    background-color:rgb(207, 238, 161);
    position: fixed;
    font-size:20px;
    padding:20px;
    margin:10px;
    right:0;
    top: 700px;
    font-size: 30px;
}