@font-face{
  font-family:PT-Root-UI_Regular;
  src: url(font/PT_Root_UI/PT-Root-UI_Regular.ttf)
}
@font-face{
  font-family:PT-Root-UI_VF;
  src: url(font/PT_Root_UI/PT-Root-UI_VF.ttf)
}
@font-face{
  font-family:PT-Root-UI_Medium;
  src: url(font/PT_Root_UI/PT-Root-UI_Medium.ttf)
}
@font-face{
  font-family:PT-Root-UI_Light;
  src: url(font/PT_Root_UI/PT-Root-UI_Light.ttf)
}
@font-face{
  font-family:PT-Root-UI_Bold;
  src: url(font/PT_Root_UI/PT-Root-UI_Bold.ttf)
}
*{
    font-family:PT-Root-UI_Medium;
}
header{
    margin-bottom: 80px;
}
main{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.block{
    width: 500px;
    height: 400px;
    border: 1px solid black;
}
.korpus{
  width: 300px;height: 200px;
  background: gray;
  margin: 50px auto;
  border-radius:30px ;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;

}
.ekran{
  width: 70%;height: 150px;
  background: aqua;
  margin: auto;
  border-radius: 20px;
}
.knopki{
  width: 20%;height: 100px;
  background: black;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.knopkaTV1{
  width: 80%;
  height: 20%;
  background: red;
  border-radius: 10px;
  margin: auto;
}
.knopkaTV2{
  width: 80%;
  height: 20%;
  background: yellow;
  border-radius: 10px;
  margin: auto;
}
.knopkaTV3{
  width: 80%;
  height: 20%;
  background: yellowgreen;
  border-radius: 10px;
  margin:auto;
}
.nozka1{
  width: 25px;
  height: 40px;
  background: black;
  border-radius: 10px;
  position: relative;
  bottom: 70px;
  left: 140px;
  z-index: -10;
}
.nozka2{
  width: 25px;
  height: 40px;
  background: black;
  border-radius: 10px;
  position: relative;
  bottom: 110px;
  left: 340px;
  z-index: -10;
}
.fon{
  margin: auto;
  width: 90%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}
.nebo{
  width: 100%;
  height: 70%;
  background:skyblue ;
}
.pesok{
  width: 100%;
  height: 30%;
  background: yellow;
}
.piramida1{
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right:120px solid transparent;
  border-bottom: 170px solid goldenrod; 
  position: relative;
  bottom: 250px;
  left: 60px;
}
.piramida2{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right:100px solid transparent;
  border-bottom: 130px solid darkgoldenrod; 
  position: relative;
  bottom: 350px;
  left: 150px;
}
.trava{
  width: 100%;
  height: 30%;
  background: yellowgreen;
}
.krug1{
  width: 300px;
  height: 300px;
  background: crimson ;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.krug2{
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.krug3{
  width: 80%;
  height: 80%;
  background: crimson;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.krug4{
  width: 70%;
  height: 70%;
  background: white;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}