*{
	padding:0; margin:0;
}
p, h1{
	margin:0 0 30px 0;
}
.content{
	max-width:900px; margin:0 auto; padding:0 30px;
}
.bridge-night{
	max-width: 100%;
	display: block;
	margin: 30px auto;
}
.bridge-day{
	max-width: 40%; min-width: 200px;
	display: block;
	padding: 10px;
	float: left;
}
@media (max-width:800px) {
	.bridge-day{
		max-width: 100%;min-width: none;
		float: none;
		padding: 0px;
		margin: 0 auto;
	}
}