@font-face{
  font-family:Montserrat;
  src: url(../font/Montserrat/Montserrat-Light.ttf);
}
@font-face{
  font-family:MontserratB;
  src: url(../font/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
  font-family:MontserratAlt;
  src: url(../font/MontserratAlternates/MontserratAlternates-Black.ttf);
}
@font-face {
    font-family: SouthGhetto;
    src: url(../font/SouthGhetto/ofont.ru_SouthGhetto.ttf);
}
body{
    user-select: none;
    display:flex;
    justify-content: center;
    align-items:center;min-height: 120vh;
    background-image: url(../img/background.png);
    background-repeat:no-repeat;
    background-size:cover; 
    background-position: center;
}
header{
  position: fixed;
  top:0;
  width:100%;
  height: 15%;
  left:0px;
  display: flex;
  justify-content:space-between ;
  align-items:center;
  color: white;
  z-index: 10;
  overflow:hidden;
  backdrop-filter: blur(5px);
}
header h1{
    font-family:MontserratAlt;
    font-size:2.7em;
    margin-left:25px;
    text-shadow: 1px 2px 8px rgb(53, 51, 51);
    padding-left: 20px;
    width: 35%;
}
header a{
    font-family:MontserratAlt;
    font-style: bold;
}

.navigation{
    font-size: 1.5em;
    margin-right: 30px;
}
.navigation a{
    
    padding-right: 15px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 8px rgb(36, 35, 35);
    
}
.btnLogin{
  width: 130px;
  height: 50px;
  background: transparent;
  border:2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight:500;
  transition:.5s;
  font-family:MontserratB ;
}
.btnLogin:hover{
  background-color: #fff;
  color:#212121;
  transition:.5s
}
.mm{
    background-color: #5E2C76;
    border-radius: 20px;
    padding: 10px;
    box-shadow:3px 2px 4px rgb(39, 39, 39);
}

main{
  width: 100%;
  height:85%;
  color: white;
  font-family:MontserratB;
  margin-top:6%;
}

.hh{
  width: 100%;
  display: flex;
  justify-content: center;
}
.startblock{
    width:auto;
    font-family:SouthGhetto;
    font-size:3.3em;
    text-shadow: 2px 3px 5px black;
    border:0.1px solid white;
    padding: 10px 20px 0px 20px;
    border-radius:30px;
    background: linear-gradient(
        -45deg,
        white 0%,
        transparent 5%,
        transparent 95%,
        white 100%);
    z-index: 8;
}
.hm{
  width: 300px;
  font-size: 35px;
  text-align: center;
}
.photogr{
  width: 170px;
  height: 150px;
  border-right: 1px solid white;
  float: left;
}
.photo{
  width: 150px;
  height:150px;
  float: left;
}
.nazvanie1{
  width: auto;
  height: 50px;
  font-size: 25px;
}
.opisanie{
  width: auto;
  height: 70px;
  font-family: Montserrat;
}
.navcontent{
  width: 1400px;
  height:600px;
  margin-left: auto;margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#cb1{
  width: auto;
  grid-column: 1/-1;
}
#cb2{
  grid-column: 3/-3;
}
.contentblock{
  width:100%;
  height:210px;
}

.newscontent{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.row1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom:20px;
  margin-left:10%;
  margin-right:10%;
}
.news{
  background:linear-gradient(60deg,#40296c,#452C76,#4E3587,#5E3E9D,#4b41cf,#303fca,#3230b1);
  grid-column: 1;
  grid-row: 1;
  border-radius: 30px;
  width:550px;
  height:280px;
  padding-bottom: 30px;
  border: 3px solid white;
}
.H1news{
  font-family: MontserratB;
  font-size:3em;
  width:20%;
  margin-left:30px;
}
.soderzanie{
  width: 400px;
  font-family: Montserrat;
  font-size:1.3em;
  margin-left:30px;

}
.newsline{
  width:520px;
  height:0px;
  border: 1px solid white;
  border-radius: 20px;
  margin-left:15px;
}
.data{
  font-family: Montserrat;
  float: left;
  font-size:21px;
  margin-left:30px;
}
.podrobnee{
  font-family: Montserrat;
  font-size:19px;
  width:130px;
  height: 20px;
  border: 1px solid white;
  border-radius: 20px;
  float: right;
  padding:8px;
  margin-right:50px;
  margin-top: 15px;
}
.podrobnee:hover{
  background-color: white;
  color:#212121
}
.podrobnee a{
  text-decoration: none;
  text-decoration-line: none;
  color: white;
}
.podrobnee a:hover{
  text-decoration: none;
  text-decoration-line: none;
  color: #212121;
}
.work-spsok{
  display: flex;
  justify-self: center;
}
.spisok{
  width: 500px;
  text-align: center;
  list-style: none;
  border:1px solid white;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.5em;
  backdrop-filter: blur(8px);
}
.spisok a{
  color: white;
  text-decoration-line: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
}
.spisok a:hover{
  color: #212121;
  background: white;
  text-decoration-line: none;
}
.spisok li{
  margin-bottom: 50px;
}
.profile{
  display: flex;
  justify-self: center;
}
.prof{
  width:600px;
  height:500px;
  padding:10px;
  border:3px solid white;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  font-size: 1.3em;
  margin-top:50px;
}
.prof h2{
  text-align: center;
  transform: translateY(-50px);
}
.prof img{
  transform: translate(250px,-50%);
}
.prof p{
  margin-left: 15px;
  padding-bottom: 12px;
  transform: translateY(-30px);
}
.photo_prof{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  align-items: center;
  border:3px solid white;
}